html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body, #main-panel {
	color: white;
	font-family: sans-serif;
	font-size: 1.8em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	margin: 1px;
	width: 140px;
	height: 140px;
	display: flex;
	color: #000;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
